#!/sbin/runscript
# Copyright 2010-2010 Chris Gianelloni
# Distributed under the terms of the GNU General Public License v2

# cachefilesd    Start up and shut down the cachefilesd daemon

MODPROBE=/sbin/modprobe
MODPROBE_ARGS=""
PROG="cachefilesd"

depend() {
	use logger net
	need localmount
}

checkconfig() {
	# We need to make sure that the program is executable, that we have a valid
	# configuration, that the cachefiles support is in the kernel, and that we
	# have user_xttr on the mount point.
	[ ! -x /sbin/${PROG} ] && return 1
	[ ! -r /etc/${PROG}.conf ] && return 1
	[ -r /proc/fs/fscache ] && return 0
	# Load the cachefiles module if needed
	[ -x "${MODPROBE}" ] && {
		if ! /sbin/lsmod | grep cachefiles > /dev/null ; then
			 ${MODPROBE} cachefiles ${MODPROBE_ARGS} || return 1
		fi
	}
}

start() {
	checkconfig || return 1
	ebegin "Starting ${PROG}"
	start-stop-daemon --start --exec "/sbin/${PROG}" \
		-- -f /etc/${PROG}.conf
	eend $?
}

stop()
	checkconfig || return 1
	ebegin "Stopping ${PROG}"
	start-stop-daemon --stop --exec "/sbin/${PROG}"
	eend $?
}
