#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-analyzer/nagios-core/files/nagios3,v 1.1 2008/04/27 18:41:25 dertobi123 Exp $

opts="${opts} reload checkconfig"

config_file="/etc/nagios/nagios.cfg"

depend() {
	need net
	use dns logger firewall
	after mysql postgresql
}

reload()
{
	checkconfig || return 1
	ebegin "Reloading configuration"
	killall -HUP nagios &>/dev/null
	eend $?
}

checkconfig() {
	# Silent Check
	/usr/sbin/nagios -v ${config_file} &>/dev/null && return 0

	# Now we know there's problem - run again and display errors
	/usr/sbin/nagios -v ${config_file}
	eend $? "Configuration Error. Please fix your configfile"
}

getconfig() {
	# Grabs some config options used in the init script, versus hard-coding them
	log_file=$(eval grep -i log_file= ${config_file} | cut -d = -f 2-)
	status_file=$(eval grep -i status_file= ${config_file} | cut -d = -f 2-)
	command_file=$(eval grep -i command_file= ${config_file} | cut -d = -f 2-)
	lock_file=$(eval grep -i lock_file= ${config_file} | cut -d = -f 2-)
	temp_file=$(eval grep -i temp_file= ${config_file} | cut -d = -f 2-)
	nagios_user=$(eval grep -i nagios_user= ${config_file} | cut -d = -f 2-)
	nagios_group=$(eval grep -i nagios_group= ${config_file} | cut -d = -f 2-)
}

process_nsca() {
	# See if we have an nsca.dump file, and dump it into the command file
	if [ -e /var/nagios/nsca.dump ] ; then
		cat /var/nagios/nsca.dump > /var/nagios/rw/nagios.cmd
		rm -f /var/nagios/nsca.dump
	fi
}

start() {
	checkconfig || return 1
	getconfig || return 1
	ebegin "Starting nagios"
	touch ${log_file} ${status_file} ${temp_file}
	chown ${nagios_user}:${nagios_group} ${log_file} ${status_file} ${temp_file}
	rm -f ${command_file}
	start-stop-daemon --quiet --start --startas /usr/sbin/nagios \
		-e HOME="/var/nagios/home" --pidfile ${lock_file} \
		-- -d ${config_file}
	eend $?
}

stop() {
	ebegin "Stopping nagios"
	getconfig || return 1
	start-stop-daemon --quiet --stop --pidfile ${lock_file}
	rm -f ${status_file} ${lock_file} ${command_file} ${temp_file}
	eend $?
}

svc_restart() {
	checkconfig || return 1
	getconfig || return 1
	ebegin "Restarting nagios"
	svc_stop
	svc_start
	eend $?
}

